body{border-radius: 15px;
    border-style: outset;
    border-width: 10px;
    border-color: black;
}

.comeco{padding: 5px;
    text-align: right;
}


.comeco a{text-decoration: none;
    padding: 15px;
    color: white;
    text-shadow:5px 5px 5px unset;
    background-color: rgb(182,182,182);
}

.comeco li{display: initial;
    font-size: 20px;
    margin-left: 5px;
    background-color: rgb(182,182,182);
}

.menu a:hover{background-color: rgb(20, 112, 165);
    text-shadow: 2px 2px 2px unset;
    border-radius: 7px;
    transition: 0.3s;
}

.menu a:active{background-color: rgb(0, 255, 128);
}

h1{font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: x-large;
    color: black;
    align-items: center;
}

p{font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: medium;
    color: black;
    text-align: left;
}

h2{font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: black;
    align-items: center;
}

.imagem{
    align-items: center;
}